.message_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
}

.user_message {
  width: 400px;
  color: rgb(251, 243, 243);
  background: rgb(37, 36, 35);
  border-radius: 30px;
  text-align: start;
  padding: 12px 16px;
  margin-left: 10px;
}

.avatar_wrapper {
  width: 36px;
  height: 36px;
}
