.search_wrapper {
    width: 400px;
    height: 118px;
    position: fixed;
    top: 0px;
    border-bottom: 2px solid rgb(145, 144, 144);
   padding: 0 20px;
}

.input{
    padding:5px 10px;
    border-radius: 20px;
    width: 360px;
    margin-top: 20px;
  
}

.default_avatart{
    margin-top: 10px;
}