textarea {
  width: 600px;
  height: 40px;
  resize: none;
  background: rgb(244, 244, 246);
  border-radius: 7px;
  outline: none;
  overflow: hidden !important;
  position: relative;
  padding-right: 30px;
}
.currentdialog_wrapper {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid rgb(145, 144, 144);
}

label {
  position: absolute;
  right: 12%;
  top: 37%;
  cursor: pointer;
  z-index: 1;
}
.message_field {
  position: relative;
  padding: 20px;
  background: rgb(210, 210, 213);
}
.arrow {
  width: 20px;
  height: 20px;
}
